<body>
    <nav>
        <a class="cl-Retornar-botao" id="id-Retornar-botao" href=MarcarPonto.html>Retornar</a>
    </nav>
    <main>
        <header>
            <h1>Editar uma nova Jornada</h1>
        </header>
        <article>
            <form>
                <section>
                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data-jornada" value="2021-05-31">
                </section>
                <section>
                    <label>Turno: </label>
                    <select class="Turno-select">
                        <option value="1">Turno 1</option>
                        <option value="2">Turno 2</option>
                        <option value="3" selected>Turno 3</option>
                        <option value="4">Turno 4</option>
                        <option value="5">Turno 5</option>
                    </select>
                </section>
                <section>
                    <label for="id-Pessoa">ID Colaborador:</label>
                    <input type="number" id="id-Pessoa" name="id-Pessoa" value="1" min="1">
                </section>
                <section>
                    <input type="submit" value="Editar Jornada">
                </section>
            </form>
        </article>
    </main>
</body>