@charset "UTF-8";

button {
    width: 160px;
    height: 40px;
    background-color: #31D0D0;   
    border: 4px solid #05CB90;  
    border-radius: 10px;
}      

button:hover {   
    transform: scale(1.05);
}

.delete:hover{
    background-color: rgb(240, 165, 165);
}

.details:hover{
    background-color: rgb(157, 157, 235);
}