
.buscarPontoPorId{
    border-radius: 20px;
    padding: 4px;
    align-self: center;
  }
  
  .Meses_select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    border-radius: 20px;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1%;
    padding-left: 1%;
  }
  
  nav > article{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
  }
  
  nav > article > section{
    margin:  2px;
  }

main {
    align-self: center;

    display:flex;
    flex-direction: column;

}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

main .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Jornada Resumida */
.collapsible {
    background-color:rgb(240, 255, 255);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
}

/* ao expandir */
.active,
.collapsible:hover {
    transform: scale(1.01);
    background: #c2f8f8;
}

/* sinal de mais na jornada resumida */
.collapsible:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

/* Tabela Ponto / Turno */
.content {


    width: 97%;
    background-color: rgba(240, 255, 255, 0.534);
    border-radius: 0px 0px 20px 20px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-between;
}


/* tabela */
#tabela {
    height: 210px;
    padding: 10px 0px;
    margin: 10px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 100%;
}

#titulo {
    text-align: center;
}

.container-row-reverse{
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
}

/* Filtro de Meses */
.Meses-select{
    padding: 4px;
    border-radius: 20px;
}

.Meses-select:hover{
    transform: scale(1.02);
}

/* Botao Retornar */
.cl-Retornar-botao{
    background-color: #008080;
    color: white;
    box-shadow: 0px 32px 32px -12px rgba(7, 48, 163, 0.24);
    height: 50px;
    border-radius: 16px;
    padding: 2px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    border-width: 0px;
    
}

#id-Retornar-botao{
    color: azure;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 5%;
    margin-left: 5%;

}

#id-Retornar-botao:hover{
    background-color: #2EE6B7;
}