body{
    background-color: #1ab0b0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav {
    align-self: flex-start;
}

main {
    align-self: center;

    display:flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.container-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.linha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrada-resumida{
    margin-top: 1%;

    align-self:  center;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;    

    padding: 5px;
    min-width: 950px;
    background-color:azure;
    border-radius: 20px;
    color: black;
}
.entrada-resumida:hover{
    transform: scale(1.01);
    background: #dbf3f3;
}

.entrada-datalhada{
    width: 96%;
    background-color: rgba(240, 255, 255, 0.534);
    border-radius: 0px 0px 20px 20px;
    color: black;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-between;

    padding-left: 1%;
    padding-bottom: 1%;
}


.Meses-select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    border-radius: 20px;
}

.Meses-select:hover{
    transform: scale(1.02   );
}

.cl-Retornar-botao{
    background-color: #008080;
    color: white;
    box-shadow: 0px 32px 32px -12px rgba(7, 48, 163, 0.24);
    height: 50px;
    border-radius: 16px;
    padding: 24px 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    border-width: 0px;
    
}

#id-Retornar-botao{
    color: azure;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 5%;
    text-decoration: none;
}

#id-Retornar-botao:hover{
    background-color: #2EE6B7;
}