body {
    background-color: #009999;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 2px;
}

nav{
    align-self: flex-start;
    margin: 2px;
    font-family: Roboto, sans-serif;
}

main{
    background-color: whitesmoke;
    border-radius: 16px;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    box-shadow: 0px 32px 32px -12px rgba(7, 48, 163, 0.24);
}

.criarPonto_botao{
    display: flex;
    justify-content: center;
}

article{
    display: flex;
}

article > form > section{
    margin: 5px;
}

a{
    text-decoration: none;
}

.cl-Retornar-botao{
    background-color: #008080;
    color: white;
    box-shadow: 0px 32px 32px -12px rgba(7, 48, 163, 0.24);
    height: 50px;
    border-radius: 16px;
    padding: 2px 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    border-width: 0px;
    
}

#id-Retornar-botao{
    color: azure;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 5%;
    text-decoration: none;
}

#id-Retornar-botao:hover{
    background-color: #2EE6B7;
    transform: scale(1.04);
}