            body {
                background-color: #009999;
                font-family: Roboto;
                color: black;
            }

            a{
                text-decoration: none;
            }

            .cl-Retornar-botao{
                background-color: #008080;
                color: white;
                box-shadow: 0px 32px 32px -12px rgba(7, 48, 163, 0.24);
                height: 50px;
                border-radius: 16px;
                padding: 24px 48px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: Roboto;
                border-width: 0px;
                
            }
            
            #id-Retornar-botao{
                color: azure;
                font-size: 16px;
                letter-spacing: 1px;
                margin-top: 5%;
                text-decoration: none;
            }
            
            #id-Retornar-botao:hover{
                background-color: #2EE6B7;
                transform: scale(1.04);
            }

            .cl-Novo-botao{
                background-color: #008080;
                color: white;
                box-shadow: 0px 32px 32px -12px rgba(7, 48, 163, 0.24);
                height: 50px;
                border-radius: 16px;
                padding: 24px 48px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: Roboto;
                border-width: 0px;
                
            }
            
            #id-Novo-botao{
                color: azure;
                font-size: 16px;
                letter-spacing: 1px;
                margin-top: 5%;
                text-decoration: none;
            }
            
            #id-Novo-botao:hover{
                background-color: #2EE6B7;
                transform: scale(1.04);
            }

            .entradaPonto{
                background: whitesmoke;
                border-radius: 16px;
                border: 16px;
                margin:16px;
                display: flex;
                justify-content: space-between;
                box-shadow: 0px 32px 32px -12px rgba(7, 48, 163, 0.24);
            }

            .entradaPonto > section{
                padding: 8px
            }

            .entradaPonto > .acoes{
                margin-left: auto;
            }

            .entradaPonto > .acoes > button{
                margin: 2px;
            }

            nav{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-right: 1%;
                padding-left: 1%;
            }

            nav > article{
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: flex-end;
            }

            nav > article > section{
                margin:  2px;
            }

            .buscarPontoPorId{
                border-radius: 20px;
            }

            .Meses_select{
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 4px;
                border-radius: 20px;
            }

            #id-buscar{
                padding: 4px;
                align-items: center;
            }