<h1>ADMINISTRAÇÃO PESSOAS NO TURNO</h1>    
    <div class="img"><img src="../imagens/cabecalho_site.png" alt="Ícone Usuário"></div>  
    <br>      
    <div id="buttonPessoaTurno">
        <button id="addPessoa">
            Adicionar Pessoa(s)
        </button>  
    </div> 
   <br>
    <table>
		<tr>
			<th>ID</th>
			<th>Nome</th>			
            <th>Action</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Thiago</td>			
            <td><button class="delete button">Delete</button></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Leonardo</td>			
            <td><button class="delete button">Delete</button></td>
		</tr>
		<tr>
			<td>3</td>
			<td>Enzo</td>			
            <td><button class="delete button">Delete</button></td>	
		</tr>
		<tr>
			<td>4</td>
			<td>Vitor</td>			
            <td><button class="delete button">Delete</button></td>		
		</tr>
		<tr>
			<td>5</td>
			<td>Willian</td>			
            <td><button class="delete button">Delete</button></td>
		</tr>
    </table>

    <div id="formularioPessoa">  

    </div> 

    <br>
    
    <p style="text-align: center;"><a href="index.html" target="_self" rel="prev" hreflang="pt-br"><img src="../imagens/voltar.png" alt="Voltar para Index"></a></p>
