<h1>ADMINISTRAÇÃO PESSOAS NO TURNO</h1>    
	<div class="Cimg">
		<img  class="img" src="assets/cabecalho_site.png" alt="Cabeçalho">
	</div>   
    <br>      
    <div id="buttonPessoaTurno">
        <button id="addPessoa">
            Adicionar Pessoa(s)
        </button>  
    </div> 
   <br>
    <table>
		<tr>
			<th>ID</th>
			<th>Nome</th>			
            <th>Action</th>
		</tr>
		<tr *ngFor="let pessoa of pessoas">
			<td>{{pessoa.id}}</td>
			<td>{{pessoa.nomePessoa}}</td>			
            <td><button class="delete button">Delete</button></td>
		</tr>		
    </table>

    <div id="formularioPessoa">  

    </div> 

    <br>
    
    <p class="Cimg img"><a routerLink="/turno-index" target="_self" rel="prev" hreflang="pt-br"><img src="assets/voltar.png" alt="Voltar para Index"></a></p>
