<body>  
<main class="flex-container">
    <div id="vetor3" class="cl-circulo flex-container">
        <div id="vetor2" class="cl-circulo flex-container">
            <div id="vetor1" class="cl-circulo flex-container">
                <article class="baterPonto">
                    <p id="baterPonto-hora">{{horaAtual | date: 'HH:mm'}}</p>
                    <p id="baterPonto-data">{{horaAtual | date: 'dd/MM/yyyy'}}</p>
                    <button class="Ponto-botao" id="id-registrar-ponto">Registrar Ponto</button>
                </article>
            </div>
        </div>
    </div>
</main>

<article class="teste">
    <a class="Ponto-botao" id="id-ver-historico" href="JornadaHistorico.html">Ver Historico</a>
</article>
</body>