<h1>ADMINISTRAÇÃO TURNOS</h1>    
    <div class="Cimg">
		<img  class="img" src="assets/cabecalho_site.png" alt="Cabeçalho">
	</div>  
    <br>      
    <div id="buttonTurno">
        <button id="criarTurno">
            Criar Turno
        </button> 
        <button id="editarTurno">
            Editar Turno
        </button>   
    </div> 
   <br>
    <table>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Colaboradores</th>
			<th>Hora Início</th>
            <th>Hora Fim</th>
            <th>Action</th>
            <th>Action</th>
		</tr>
		
		<tr *ngFor="let turno of turnos">
			<td>{{turno.id}}</td>
			<td>{{turno.nomeTurno }}</td>
			<td>{{turno.pessoasNoTurno.length}}</td>
			<td>{{turno.horaInicio }}</td>
            <td>{{turno.horaFim }}</td>
            <td><button class="details button" routerLink="/turno-details" target="_self" rel="next"  hreflang="pt-br" >Details</button></td>
            <td><button class="delete button">Delete</button></td>
		</tr>

    </table>
    <div id="formularioTurno">  

    </div>    