<body>
<nav>
    <a routerLink="./../jornada-crud"><button class="cl-Retornar-botao" >Retornar</button></a>
</nav>
</body>
<br>
<body>
<main>
    <header>
        <h1>Criar uma nova Jornada</h1>
        
    </header>

    <article>
   
        <form>
            <section>
                <label for="data">Data:</label>
                <input type="date" id="data" [(ngModel)]="jornada.data" name="data-jornada">
            </section>
            <section>
                <label for="nomeTurno">Turno: </label>
                <select class="Turno-select" name="nomeTurno" [(ngModel)]="jornada.turno" >
                    <option *ngFor="let turno of turnos" [ngValue]="nomeTurno">{{ turno.nomeTurno }}</option>
                </select>
            </section>
            <section>
                <label for="id-Pessoa">ID Colaborador:</label>
                <input type="number" id="id-Pessoa" [(ngModel)]="jornada.idPessoa" name="id-Pessoa">
            </section>
            <section>
                <input type="submit" value="Criar Jornada" (click)="enviaJornada(jornada)">
            </section>
        </form>
    </article>
</main>
</body>