    <nav>
      <article>
          <section><a routerLink="../ponto-create"><button class="botao">Novo ponto</button></a></section>
      </article>
      <article>
          <section><input class="buscarPontoPorId" placeholder="Buscar ponto por ID" type="number" min="1"></section>
          <section>
              <select class="Meses_select">
                  <option value="Maio">Maio</option>
                  <option value="Abril">Abril</option>
                  <option value="Março">Março</option>
                  <option value="Fevereiro">Fevereiro</option>
                  <option value="Janeiro">Janeiro</option>
              </select>
          </section>
      </article>
  </nav>

<article class="tabelaPonto">
  <article class="entrada-lista" *ngFor="let ponto of pontos; let indice = index">
    <section>#{{ponto.idPonto}}</section>
    <section>Momento: {{ponto.momentoPonto | date : 'dd/MM/yyyy, hh:mm:ss'}} </section>
    <section>ID Colaborador: #{{ponto.idPessoa}}</section>

    <section class="acoes">
      <button class="botao-acao" routerLink="../ponto-edit/{{ponto.idPonto}}">Editar</button><button class="botao-acao" (click)="this.delete(ponto.idPonto)">Excluir</button>
    </section>
  </article>
</article>
