<body>
<nav>
    <a routerLink="../../ponto-index"><button class="cl-Retornar-botao" >Retornar</button></a>
</nav>
<br>
<main>
    <header>
        <h1>Editar ponto</h1>
    </header>
    <article>
        <form>
            <section>
                <label for="momento-ponto">Momento do ponto:</label>
                <input type="datetime-local" id="momento-ponto" name="momento-ponto" [(ngModel)]="selecionado.momentoPonto">
            </section>
            <section>
                <label for="id-pessoa">ID do colaborador:</label>
                <input type="number" id="id-pessoa" name="id-pessoa" [(ngModel)]="selecionado.idPessoa" min="1">
            </section>
            <section class="editarPonto_botao">
                <input type="submit" value="Editar ponto" class="editarPonto_botao" (click)="this.atualizarPonto()">
            </section>
        </form>
    </article>
</main>
</body>